@font-face { font-family: "Open Sans"; font-style: normal; font-weight: 400; src: local("Open Sans"), local("OpenSans"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/RjgO7rYTmqiVp7vzi-Q5UbO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }

@font-face { font-family: "Open Sans"; font-style: normal; font-weight: 600; src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSgcuEIXEaFWBWXA4NoGd_Oo.woff) format("woff"); }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

.container { width: 1170px; margin-left: auto; margin-right: auto; }

.row { *zoom: 1; margin-left: -15px; margin-right: -15px; }
.row:after { content: " "; display: table; clear: both; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 { float: left; min-height: 1px; padding-left: 15px; padding-right: 15px; }

.col-1 { width: 8.33333%; }

.col-2 { width: 16.66667%; }

.col-3 { width: 25%; }

.col-4 { width: 33.33333%; }

.col-5 { width: 41.66667%; }

.col-6 { width: 50%; }

.col-7 { width: 58.33333%; }

.col-8 { width: 66.66667%; }

.col-9 { width: 75%; }

.col-10 { width: 83.33333%; }

.col-11 { width: 91.66667%; }

.col-12 { width: 100%; }

.footer, .services { background: #f8f8f8; border: 1px solid #e7e7e7; border-width: 1px 0; }

[class^="icon-"], [class*=" icon-"] { display: inline-block; vertical-align: middle; }

.icon-time { background: url('../img/icons-s6cf108e661.png') 0 -38px no-repeat; width: 24px; height: 24px; }

.icon-mail { background: url('../img/icons-s6cf108e661.png') 0 -72px no-repeat; width: 24px; height: 24px; }

body { font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 400; font-style: normal; font-size: 14px; color: #393939; line-height: 1.4; min-width: 1190px; background: white; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; }

h1, .h1 { font-size: 32px; }

h2, .h2 { font-size: 26px; }

h1, .h1, h2, .h2 { color: #393939; font-weight: normal; font-style: normal; margin-bottom: 25px; }

p { margin-bottom: 0.5em; }

.btn { display: inline-block; vertical-align: middle; font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 600; font-style: normal; font-size: 14px; color: #844cd9; text-decoration: none; text-transform: uppercase; text-align: center; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; margin-left: 4px; margin-right: 4px; padding: 12px 25px; line-height: 18px; border: 3px solid #844cd9; background: transparent; }
.btn:hover { background: #844cd9; color: white; }
.btn:active { position: relative; top: 1px; }
.btn.btn_sm { padding: 7px 17px; }
.btn.btn_primary { background: #844cd9; color: white; }
.btn.btn_primary:hover { background: #7637d5; border-color: #7637d5; }
.btn.btn_block { display: block; width: 100%; margin-left: 0; margin-right: 0; }

.input { display: block; width: 100%; text-align: left; color: #393939; border: 2px solid #c9c7c7; background: white; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; padding: 12px 24px; font-size: 16px; line-height: 20px; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; }
.input:-moz-placeholder, .input::-moz-placeholder { color: #9c9c9c; opacity: 1; }
.input::-webkit-input-placeholder { color: #9c9c9c; }
.input:focus { border-color: #1abc9c; }
.input:focus:-moz-placeholder, .input:focus::-moz-placeholder { color: transparent; opacity: 1; }
.input:focus::-webkit-input-placeholder { color: transparent; }
.is-error .input { border-color: #e74c3c; color: #e74c3c; }

.link_primary { color: #844cd9; text-decoration: underline; }
.link_primary:hover { text-decoration: none; }

.header { position: fixed; z-index: 2; top: 0; left: 0; width: 100%; -webkit-transition: background 0.3s ease-in; -moz-transition: background 0.3s ease-in; -o-transition: background 0.3s ease-in; transition: background 0.3s ease-in; }
.header.is-fixed { background: rgba(255, 255, 255, 0.8); }
.header.is-fixed .container { padding: 13px 0; }
.header.is-fixed:hover { background: white; }
.header.is-fixed:hover .container { padding: 33px 0; }
.header .container { padding: 33px 0; -webkit-transition: padding 0.3s ease-in; -moz-transition: padding 0.3s ease-in; -o-transition: padding 0.3s ease-in; transition: padding 0.3s ease-in; }
.header .header__logo { display: block; background: url('../img/icons-s6cf108e661.png') 0 0 no-repeat; width: 147px; height: 28px; font: 0/0 a; text-shadow: none; color: transparent; }
.header .header__menu { text-align: right; }
.header .header__action { display: inline-block; vertical-align: middle; margin-left: 34px; }

.nav { display: inline-block; vertical-align: middle; }
.nav li { display: inline-block; vertical-align: middle; font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 600; font-style: normal; font-size: 14px; color: #2f2f2f; text-transform: uppercase; margin-left: 35px; }
.nav li.is-active a { color: #844cd9; }
.nav a { color: #2f2f2f; text-decoration: none; }
.nav a:hover { color: #844cd9; text-decoration: none; }

.intro { position: relative; background: url(../img/cover.jpg) 50% 0 no-repeat fixed; background-size: cover; min-height: 865px; padding-top: 150px; padding-bottom: 420px; text-align: center; overflow: hidden; }
.intro .h1 { width: 68%; margin: 0 auto 30px; }
.intro p { font-size: 18px; color: #2f2f2f; margin-bottom: 40px; }
.intro .intro__screen { position: absolute; bottom: 0; left: -50px; right: -50px; }
.intro .intro__screen img { display: block; margin: 0 auto; }

.clients { background: url(../img/map.png) 50% 50% no-repeat; text-align: center; }
.clients .container { padding: 100px 0; }
.clients .h2 { margin-bottom: 70px; }
.clients .clients__list { *zoom: 1; margin-left: -45px; }
.clients .clients__list:after { content: " "; display: table; clear: both; }
.clients .clients__item { display: inline-block; vertical-align: middle; margin: 0 0 20px 45px; height: 100px; line-height: 100px; }
.clients .clients__item img { display: inline-block; vertical-align: middle; line-height: 1; max-height: 100%; }

.footer { border-width: 1px 0 0; text-align: center; color: rgba(47, 47, 47, 0.6); }
.footer .container { padding: 80px 0 50px; }
.footer .footer__form { margin-bottom: 55px; font-size: 16px; }
.footer .footer__form p { margin-bottom: 40px; }
.footer .footer__form .form { width: 430px; margin: 0 auto 24px; }

.form .form__row { margin-bottom: 13px; }

.services .container { padding: 130px 0; }
.services .h2 { line-height: 1.1; }
.services .h2 [class^="icon-"], .services .h2 [class*=" icon-"] { position: relative; top: -3px; margin-right: 15px; }
.services p { font-size: 15px; color: #6f6f6f; }

.providers { margin-top: 40px; }
.providers ul { font-size: 0; }
.providers li { display: inline-block; vertical-align: middle; height: 40px; line-height: 40px; font-size: 14px; margin-left: 20px; }
.providers li:first-child { margin-left: 0; }
.providers img { display: inline-block; vertical-align: middle; line-height: 1; }
